@import '../../styles/base/config';

.btn {
  font-size: $fs-normal;
  font-weight: 600;
  line-height: 21px;

  padding: 10px 30px;

  border: none;
  border-radius: 5px;

  transition: color $defaultTransition, background $defaultTransition,
    border $defaultTransition;

  &-green {
    color: $color-white;

    background-color: $color-green;

    cursor: pointer;
  }
}
