@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
* {
  font-family: $ff-roboto;
  font-size: $fs-small;
}
html {
  height: 100%;
}
body {
  height: 100%;

  font-family: $ff-roboto;
  font-size: $fs-small;
  letter-spacing: -0.025em;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
